[submodule "lib/tikzpingus"]
	path = lib/tikzpingus
	url = https://github.com/EagleoutIce/tikzpingus.git
[submodule "lib/fancyqr"]
	path = lib/fancyqr
	url = https://github.com/EagleoutIce/fancyqr.git
[submodule "lib/sopra-collection"]
	path = lib/sopra-collection
	url = https://github.com/EagleoutIce/sopra-collection.git
[submodule "lib/fancy-underline"]
	path = lib/fancy-underline
	url = https://github.com/EagleoutIce/latex-underline.git
